services:
  nginx:
    image: webdevops/php-nginx-dev:8.4
    working_dir: /app
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./:/app
    links:
      - mysql
    environment:
      WEB_DOCUMENT_ROOT: /app/public
      WEB_DOCUMENT_INDEX: index.php
    user: "1000:1000"

  mysql:
    image: mysql:8.4
    ports:
      - 3306:3306
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: comments
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data:
